<div ng-controller="SidebarController" class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <label>
        <select ng-model="selectedDate">
          <option ng-repeat='date in dates'>{{date}}</option>
        </select>
      </label>

      <ul class="nav nav-list">
        <li ng-repeat="link in links">
          <a href="{{link.href}}" target="_blank">{{link.title}}</a>
        </li>

        <li class="divider"></li>

        <li ng-repeat='voteGroup in voteList'>
          <strong>{{$index + 1}}</strong>
          <ul class="nav nav-list">
            <li ng-class="{active: activeVote == vote}" ng-repeat='vote in voteGroup'>
              <a ng-click="openVote(vote)"><small>{{parseDate(vote.time) | date:'HH:mm:ss'}}</small> {{vote.subject}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <p align="center"><img id="spinner" style="display: none;" src="img/spinner.gif"></p>

    <div ng-repeat='vote in votes' ng-controller="VoteController">
      <div class="row-fluid">
        <div class="muted">Votering {{$index + 1}}/{{votes.length}}
          <input ng-hide="vote.editing" class="btn btn-small" type="button" value="Rediger" ng-click="editVote()">
          <input ng-show="vote.editing" class="btn btn-small btn-primary" type="button" value="Lagre" ng-click="saveVote()">

          <span>{{parseDate(vote.time) | date:'yyyy/MM/dd HH:mm:ss'}}</span>

          <div ng-show="vote.editing">
            <div timepicker class="input-append">
               <input disabled data-format="hh:mm:ss" type="text"></input>
               <span class="add-on">
                 <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
               </span>
             </div>
           </div>
        </div>

        <h3>
          <small class="pull-right">{{vote.externalId}} | {{vote.externalIssueId}}</small>
          <span ng-hide="vote.editing">{{vote.subject}}</span>
          <input ng-show="vote.editing" type="text" ng-model="vote.subject">
        </h3>

        <dl>
          <dt>Vedtatt:</dt>
          <dd><span class="enacted-{{vote.enacted}}">{{textFor(vote.enacted)}}</span></dd>
          <dt>Personlig:</dt>
          <dd><span>{{textFor(vote.personal)}}</span></dd>
          <dt>Stemmer:</dt>
          <dd>{{vote.counts.for}} for, {{vote.counts.against}} mot, {{vote.counts.absent}} ikke tilstede</dd>
          <dt>Saker:</dt>
          <dd><ul>
            <li ng-repeat="issue in vote.issues">
              <a target="_blank" href="http://stortinget.no/no/Saker-og-publikasjoner/Saker/Sak/?p={{issue.external_id}}">{{issue.description}}</a>
            </li>
          </ul></dd>
        </dl>

        <button class="btn btn-small" ng-click="addProposition()">Legg til forslag</button>

        <form class="form form-horizontal" class="row-fluid" ng-show="addingProposition">
          <label>Beskrivelse</label>
          <input type="text" ng-model="newProposition.description">

          <label>Tekst</label>
          <textarea ng-model="newProposition.body" rows="10"></textarea>

          <button class="btn btn-primary" ng-click="saveNewProposition()">Lagre</button>
          <button class="btn" ng-click="cancelNewProposition()">Avbryt</button>
        </form>
      </div>

      <hr>

      <div class="row-fluid">
        <div ng-repeat="prop in vote.propositions" class="well proposition-{{prop.approved}}" ng-controller="PropositionController">
          <div class="row-fluid">
            <h4><small>Forslag {{$index + 1}}/{{vote.propositions.length}}</small>
              <span ng-hide="prop.editing">{{prop.description}}</span>
              <input ng-show="prop.editing" type="text" ng-model="prop.description">
            </h4>
            <form class="pull-right">
              <dl>
                <dt>Status:</dt>
                <dd class="proposition-status-{{prop.metadata.status}}">{{statusText(prop.metadata.status)}}</dd>

                <dt>{{prop.metadata.username}}</dt>
                <dd>{{prop.metadata.reason}}</dd>
              </p>

              <div class="row-fluid">
                <input type="button" class="btn btn-small btn-success" ng-click="approve()" value="Godkjenn">
                <input type="button" class="btn btn-small btn-warning" ng-click="reject()" value="Avvis">
              </div>

              <hr>

              <div class="row-fluid">
                <input ng-hide="prop.editing" type="button" class="btn btn-small" ng-click="toggleEdit()" value="Rediger">
                <input ng-show="prop.editing" type="button" class="btn btn-small" ng-click="cancel()" value="Avbryt">
                <input type="button" class="btn btn-small btn-danger" ng-click="deleteProposition(prop)" value="Slett">
              </div>
            </form>
          </div>

          <div class="row-fluid">
            <textarea ng-show="prop.editing" class="span12" rows="10" ng-model="prop.body"></textarea>
            <div ng-hide="prop.editing" class="span12" ng-bind-html-unsafe="prop.body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.cleanerUsername = <%= session[:username].to_json %>
</script>
