<div ng-controller="SidebarController" class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <label>
        <select ng-model="selectedDate">
          <option ng-repeat='date in dates'>{{date}}</option>
        </select>
      </label>

      <ul class="nav nav-list">
        <li ng-repeat="link in links">
          <a href="{{link.href}}" target="_blank">{{link.title}}</a>
        </li>

        <li ng-repeat='voteGroup in voteList'>
          <p align=center>{{$index + 1}}</p>
          <ul class="nav nav-list">
            <li ng-class="{active: activeVote == vote}" ng-repeat='vote in voteGroup'>
              <small>{{parseDate(vote.time) | date:'HH:mm:ss'}}</small>
              <a ng-click="openVote(vote)">{{vote.subject}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <div ng-repeat='vote in votes'>
      <div class="row-fluid">
        <p class="muted">Votering {{$index + 1}}/{{votes.length}}</p>
        <h3>
          <small class="pull-right">{{vote.externalId}}</small>
          {{vote.subject}}
        </h3>

        <dl>
          <dt>Vedtatt:</dt>
          <dd><span class="enacted-{{vote.enacted}}">{{textFor(vote.enacted)}}</span></dd>
          <dt>Stemmer:</dt>
          <dd>{{vote.counts.for}} for, {{vote.counts.against}} mot, {{vote.counts.absent}} ikke tilstede</dd>
          <dt>Saker:</dt>
          <dd><ul>
            <li ng-repeat="issue in issues[vote]">
              <a href="http://stortinget.no/{{issue.externalId}}">{{issue.subject}}</a>
            </li>
          </ul></dd>
        </dl>
      </div>

      <hr>

      <div class="row-fluid">
        <div ng-repeat="prop in vote.propositions" class="well proposition-{{prop.approved}}" ng-controller="PropositionController">
          <div class="row-fluid">
            <h4><small>Forslag {{$index + 1}}/{{vote.propositions.length}}</small> {{prop.description}}</h4>
            <form class="pull-right">
              <dl>
                <dt>Status:</dt>
                <dd class="proposition-status-{{prop.metadata.status}}">{{statusText(prop.metadata.status)}}</dd>

                <dt>{{prop.metadata.username}}</dt>
                <dd>{{prop.metadata.reason}}</dd>
              </p>

              <input type="button" class="btn btn-small btn-success" ng-click="approve()" value="Godkjenn">
              <input type="button" class="btn btn-small btn-danger" ng-click="reject()" value="Avvis">
              <input type="button" class="btn btn-small btn-info" ng-click="clear()" value="Nullstill">
            </form>
          </div>

          <div class="row-fluid" ng-bind-html-unsafe="prop.body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
