<div ng-controller="SidebarController" class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <label>
        <select ng-model="selectedDate">
          <option ng-repeat='date in dates'>{{date}}</option>
        </select>
      </label>

      <p>Referat: <a href="{{minutesUrl}}">{{selectedDate}}</a></p>
      
      <ul class="nav nav-list">
        <li ng-repeat='vote in voteList' ng-controller="DateController">
          {{parseDate(vote.time) | date:'HH:mm:ss'}}
          <a ng-click="openVote()">{{vote.subject}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <div ng-repeat='vote in votes'>
      <div class="row-fluid">
        <p class="muted">Votering {{$index + 1}}/{{votes.length}}</p>
        <h3>
          <small class="pull-right">{{vote.externalId}}</small>
          {{vote.subject}}
        </h3>
        <dl>
          <dt>Vedtatt:</dt>
          <dd><span class="enacted-{{vote.enacted}}">{{textFor(vote.enacted)}}</span></dd>
          <dt>Stemmer:</dt>
          <dd>{{vote.counts.for}} for, {{vote.counts.against}} mot, {{vote.counts.absent}} ikke tilstede</dd>
        </dl>
      </div>

      <hr>

      <div class="row-fluid">
        <div ng-repeat="prop in vote.propositions" class="well proposition-{{prop.approved}}" ng-controller="PropositionController">
          <div class="row-fluid">
            <h4><small>Forslag {{$index + 1}}/{{vote.propositions.length}}</small> {{prop.description}}</h4>
            <form class="pull-right">
              <p>
                <strong>Status:</strong> <span class="proposition-status-{{prop.metadata.status}}">{{statusText(prop.metadata.status)}}</span>
                <pre style="border: 0">{{prop.metadata.reason}}</pre>
              </p>
              
              <input type="button" class="btn btn-small btn-success" ng-click="approve()" value="Godkjenn">
              <input type="button" class="btn btn-small btn-danger" ng-click="reject()" value="Avvis">
              <input type="button" class="btn btn-small btn-info" ng-click="clear()" value="Nullstill">
            </form>
          </div>
          
          <div class="row-fluid" ng-bind-html-unsafe="prop.body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
