<!doctype html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css">
    <link rel="stylesheet" href="css/app.css" type="text/css">

    <script src="js/lib/lodash.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Forslagsvask</a>
            <p class="navbar-text pull-right"><%= session[:username] %></p>

            <ul class="nav">
              <!-- <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li> -->
            </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="progress" ng-controller="ProgressController">
          <div class="bar bar-success" style="width: {{percentage(stats.good, stats.total)}}%"></div>
          <div class="bar bar-danger" style="width: {{percentage(stats.bad, stats.total)}}%"></div>

          <span class="pull-right">{{stats.processed}} / {{stats.total}}</span>
        </div>
      </div>

      <%= erb :content %>
    </div>

  </body>
</html>

