<div align=center>
  <form action="new_session" method="post" accept-charset="utf-8">
    <label for="username">Hva heter du?</label><input type="text" autofocus name="username" value="" id="username">
    <p><input class="btn btn-primary" type="submit" value="Continue &rarr;"></p>
  </form>
</div>